@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

main {
	padding:4em 6em;
}

.examples {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.text {
	padding:0.5em;
}

.example {
	flex: 1 0 calc(33% - 1em);
	margin: 0.5em;
	min-width:20em;
	border-radius:0.5em;
	background-color:#333;
	overflow:hidden;
}

.example a {
	height:100%;
	width:100%;
	display:block;
}

.example img {
	width:100%;
}

.example h2 {
	color:#999;
	padding-left:1em;
}

.example a:hover {
	text-decoration:none;
	background-color:#444;
}

.example a:hover h2 {}

/**
 * Styles taken from ThreeJS
 */
body {
	margin: 0;
	background-color: #222;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 100; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#capture{
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 10px;
	border: 1px solid white;
	z-index: 100;
	cursor: pointer;
	background-color: rgba( 0,0,0,.4);
}